# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js 10.x
      uses: actions/setup-node@v1
      with:
        node-version: 10.x

    - name: yarn install, build
      run: |
        yarn install
        yarn run build --if-present

    - name: test
      run: yarn test

    - name: global git config
      run:  |
        git config --global user.email ${{git.email}}
        git config --global user.name ${{git.name}}
        
    - name: deploy
      run: yarn deploy 
      env:
        CI: true
